@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    padding: 30px;
    margin-bottom: 5%;
}

header a{
    text-decoration: none;
    margin-right: 2%;
    color: gray;
    font-weight: 500;
}

header a:hover{
    color: rgb(87, 86, 86);
}

header a:active{
    color: rgb(34, 33, 33);
}

header button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgb(88, 26, 233);
    color: white;
    font-size: 17px;
    font-weight: 500;
}

header button:hover{
    background-color: rgb(33, 3, 102);
}

img{
    width: 500px;
    display: inline-block;
    margin-left: 8%;
    margin-right: 5%;
    vertical-align: middle;
}

section{
    display: inline-block;
    vertical-align: top;
}

section h1{
    font-size: 5rem;
    color: rgb(48, 47, 47);
}

section h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: rgb(48, 47, 47);
}

section p{
    width: 500px;
    text-align: justify;
    margin: 20px 0;
    color: rgb(109, 106, 106);
}

.explore{
    width: 150px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    background-color: #ADFF00;
    font-size: 20px;
    font-weight: 500;
}

.explore:hover{
    background-color: rgb(14, 236, 14);
}

@media screen and (max-width: 600px){
    header a, header button{
        display: none;
    }

    img{
        margin: 0;
        width: 100%;
        display: block;
    }

    section{
        display: block;
        text-align: center;
    }

    section h1{
        font-size: 3.5rem;
    }

    section p{
        width: 100%;
        margin: 0;
    }

    .explore{
        width: 200px;
        height: 40px;
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 1163px) and (min-width: 600px){
    header{
        display: flex;
        justify-content: center;
    }

    header a, header button{
        display: inline-block;
        text-align: center;
    }

    img{
        display: block;
        margin: 0 auto;
    }

    section{
        display: block;
        text-align: center;
    }

    section p{
        margin: 0 auto;
        padding: 20px 0;
    }

    .explore{
        width: 230px;
        height: 45px;
        margin-bottom: 15%;
    }
}